{% extends "faceApp/base.html" %}

{% block contenido %}


    <h1>Titulo de la imagen: {{ data.title }}</h1>
    <h3>id de la imagen: {{ data.id }}</h3>
    <h3>ruta de la imagen: {{ data.image.url }}</h3>
    <img src="..{{ data.image.url }}" id="targetimg"/>

    <script>
    
        const jcrop = Jcrop.attach('targetimg',{
                        multi: true
                      });
        const rect = Jcrop.Rect.create(
                                              100,100,50,50);
                          jcrop.newWidget(rect,{}
                        );
        
        jcrop.listen('crop.change',function(widget,e){
            const pos = widget.pos;
            console.log(pos.x,pos.y,pos.w,pos.h);
            });
    
        fetch('/detect_faces/', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/json'
            },
            body: JSON.stringify({
            id: '{{ file.id }}'
                })
            })
            .then(response => response.json())
            .then(data => {
            console.log('data',data);
            for (let crop of data){
                console.log('crop_for',crop);
                const rect = Jcrop.Rect.create(crop.left,crop.top,crop.width,crop.height);
                jcrop.newWidget(rect,{});;
            }
            console.log('crop',jcrop);

        })

        function onFormSubmit(event) {
            let crops = [];
            for (let crop of jcrop.crops){
            crops.push([crop.pos.x,crop.pos.y,crop.pos.w,crop.pos.h])
            }
        console.log('onFormSubmit',crops);
        list.value = JSON.stringify(crops);
        // list{{ file.id }}.value = crops{{ file.id }};
        console.log('send to blur',list.value);
        // Envía el formulario
        form.submit();
        // Cancela el envío predeterminado del formulario para evitar recargar la página
        event.preventDefault();
        }


    
    </script>
{% endblock %}
